

.taskCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    /* width: 30vw; */
    height: 100px;
    border-radius: 10px;
    border: solid;
}

.taskCardOpen {
    background-color: rgb(29, 219, 11);
    height: 200px;
}

.btnDeleteCard {
    align-self: end;
    background-image: url(icon/iconDelete.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    filter: invert(1);
    border: none;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

.btnDeleteCard:hover {
    transform: scale(120%); 
}

.btnDeleteCard:active {
    transform: scale(150%); 
}