
.menu {
    position: absolute;
    background-color: rgb(57, 0, 100);
    width: 70px;
    height: 30px;
    border-radius: 10px;
    z-index: 1;
    right: 90px;
    bottom: 50px;
}

.exit {
    position: absolute;
    background-color: rgb(57, 0, 100);
    width: 70px;
    height: 30px;
    border-radius: 10px;
    z-index: 1;
    right: 90px;
    top: 50px;
}

.edit_avatar {
    background-image: url(icon/editing.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(255, 255, 255, 0);
    width: 15px;
    height: 15px;
    filter: invert(1);
    position: absolute;
    right: -20px;
    bottom: 70px;
    
}