
.main {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, 200px );
    overflow: scroll;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);;
    /* box-shadow: 0 0 15px rgba(255, 255, 255, 1); */
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
