
.avatar {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    box-shadow:
        0 0 7px rgb(255, 255, 255);
}

.avatar:active {
    box-shadow:
    0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255);
     
}

.avatar:hover {
    transform: scale(105%);
}

/* над подумать, как оставить по дефолту аватарку */
/* .img_avatar_default {
    background-image: url(https://avatars.githubusercontent.com/u/113738752?v=4); 
} */

.img_avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



